#crew {
    background: url('../assets/crew/background-crew-desktop.jpg') no-repeat center center;
    background-size: 100% 100%;
    min-height: 100vh;
    height: 900px;
    width: 100%;
    font-family: 'Barlow Condensed', 'normal';
    color: #FFFFFF;
    display: flex;
    align-items: flex-end;
    position: absolute;
    .content {
        min-width: 100%;
        font-weight: 400px;
        .headText {
            font-size: 28px;
            line-height: 33.6px;
            letter-spacing: 4.72px;
            position: relative;
            top: 50px;
            span {
                font-weight: 700;
                opacity: .25;
            }
        }
        .content-info {
            .title {
                font-family: 'Bellefair', 'normal';
                font-size: 32px;
                line-height: 37px;
                opacity: .5;
                margin-top: 120px;
            }
            h1 {
                font-family: 'Bellefair', 'normal';
                font-size: 56px;
                line-height: 64px;
            }
            .bio {
                font-family: 'Barlow', 'normal';
                font-size: 18px;
                line-height: 32px;
                color: #D8D6F9;
            }
            .tabs {
                width: 132px;
                display: flex;
                justify-content: space-between;
                margin-top: 120px;
                span {
                    height: 15px;
                    width: 15px;
                    border-radius: 50%;
                    background-color: rgba($color: #FFFFFF, $alpha: .17);
                    cursor: pointer;
                }
                span:hover, span.active {
                    background-color: rgba($color: #FFFFFF, $alpha: 1);
                }
            }
        }
    }
}

// phone
@media only screen and (max-width: 600px) {}

// tablet
@media only screen and (min-width: 600px) and (max-width: 992px) {
    #crew {
        overflow: hidden;
        .col-12{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .content {
            .headText {
                font-size: 20px;
                letter-spacing: 3.38px;
                line-height: 24px;
                align-self: flex-start;
            }
            .content-info {
                .title {
                    font-size: 24px;
                    line-height: 28px;
                    text-align: center;
                    margin-top: 55px;
                    margin-bottom: 0;
                }
                h1 {
                    font-size: 40px;
                    line-height: 46px;
                    margin-bottom: 0;
                }
                .bio {
                    font-size: 16px;
                    line-height: 28px;
                    text-align: center;
                }
                .tabs {
                    margin-top: 0 !important;
                    span {
                        width: 10px;
                        height: 10px;
                    }
                }
            }
            img {
                width: 400.37px;
                height: 500px;
                object-fit: contain;
                margin-bottom: -20px;
            }
        }
    }
}

// @media only screen and (max-width: 1280px) {
//     #crew {
//         .content {
//             .content-info {
//                 .tabs {
//                     // margin-top: 80px;
//                 }
//             }
//         }
//     }
// }