#destination {
    background: url('../assets/destination/background-destination-desktop.jpg') no-repeat center center;
    background-size: 100% 100%;
    min-height: 100vh;
    width: 100%;
    height: 900px;
    position: absolute;
    font-family: 'Barlow Condensed', normal;
    .content {
        position: absolute;
        top: 212px;
        min-width: 100%;
        .headText {
            font-size: 28px;
            font-weight: 400;
            letter-spacing: 4.725px;
            line-height: 34px;
            color: #FFFFFF;
            span {
                font-weight: 700;
                opacity: .25;
            }
        }
        img {
            width: 445px;
            height: 445px;
        }
        .content-info {
            font-weight: 400;
            color: #FFFFFF;
            text-align: start;
            .row {
                .col-lg-4 {
                    text-align: start;
                }
            }
            .tabs {
                letter-spacing: 2.7px;
                font-size: 16px;
                line-height: 19.2px;
                height: 34px;
                cursor: pointer;
                p {
                    margin-right: 30px;
                    margin-bottom: 0;
                }
                p:hover {
                    border-bottom: 3px solid #ffffff25;
                }
                p.active {
                    border-bottom: 3px solid #FFFFFF;
                }
            }
            p  {
                text-align: start;
            }
            h1 {
                font-family: 'Bellefair', 'normal';
                font-size: 100px;
                line-height: 114.6px;
            }
            .distance-travel {
                border-top: 1px solid #383B4B;
                height: 90px;
            }
            .description {
                color: #D0D6F9;
                font-family: 'Barlow', 'normal';
                font-size: 18px;
                line-height: 32px;
            }
            .distance-text, .travel-text {
                font-size: 14px;
                line-height: 17px;
                letter-spacing: 2.3625px;
                color: #D0D6F9;
            }
            .distance, .travel {
                font-family: 'Bellefair',  'normal';
                font-size: 28px;
                line-height: 32px;
                margin: 0;
            }
        }
    }
}

// Phone
@media only screen and (max-width: 600px) {
    #destination {
        .col-12 {
            justify-content: center;
            text-align: center;
        }
        .content {
            top: 88px;
            .row {
                justify-content: center;
            }
            .headText {
                text-align: center;
                font-size: 16px;
                letter-spacing: 2.7px;
                line-height: 19px;
                margin-top: 20px;
            }
            img {
                width: 170px;
                height: 170px;
            }
            .content-info {
                .tabs {
                    font-size: 14px;
                    line-height: 17px;
                    letter-spacing: 2.3625px;
                    width: 237.5px;
                    height: 28px;
                    align-items: space-around;
                    p {
                        text-align: center;
                        margin: 0 auto;
                    }
                }
                h1 {
                    font-size: 56px;
                    line-height: 64px;
                }
                .description {
                    font-size: 15px;
                    line-height: 25px;
                    text-align: center;
                }
                .distance-travel {
                    flex-wrap: wrap;
                    .col-12 {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        margin-top: 50px;
                    }
                }
            }
        }
    }
}

// Tablet
@media only screen and (min-width: 600px) and (max-width: 992px) {
    #destination {
        .content {
            top: 136px;
            .headText {
                font-size: 20px;
                letter-spacing: 3.38px;
                line-height: 24px;
                margin-bottom: 0px;
            }
            img {
                width: 300px;
                height: 300px;
                margin-top: 10px;
            }
            .content-info {
                .row {
                    justify-content: center;
                    .col-12, .col-8 {
                        justify-content: center;
                        text-align: center;
                    }
                }
                p {
                    text-align: center;
                }
                .description {
                    font-size: 16px;
                    line-height: 28px;
                }
            }
        }
    }
}

// Not desktop size
// @media only screen and (max-width: 992px) {
//     #destination {
//         .content {

//         }
//     }
// }