#navigation {
    position: absolute;
    top: 35px;
    z-index: 2;
    min-width: 100%;
    .container-fluid {
        .navbar-brand {
            margin-left: 55px;
        }
        #hamburger {
            cursor: pointer;
        }
        #responsive-nav {
            position: relative;
            #line-bar {
                border-bottom: 1px solid #ffffff;
                width: 40%;
                opacity: 0.25;
                margin-right: -50px;
                z-index: 3;
            }
            .navbar-nav {
                background-color: rgba(255, 255, 255, 0.04);
                backdrop-filter: blur(40.7742px);
                width: 60%;
                min-height: 96px;
                padding: 0 7%;
            }
            span {
                font-weight: 700;
                margin-right: 14px;
            }
            a {
                font-family: 'Barlow Condensed', normal;
                font-size: 16px;
                color: white;
                width: auto;
                letter-spacing: 2.7px;
                line-height: 96px;
                text-align: center;
                height: 96px;
                padding: 0;
                text-decoration: none;
            }
            a.active {
                border-bottom: 3px solid #FFFFFF;
            }
            a:hover {
                border-bottom: 3px solid #979797;
            }
        }
    }
}

// Tabel size
@media only screen and (min-width: 600px) and (max-width: 992px) {
    #navigation {
        top: 0;
        padding: 0;
    }
    .container-fluid {
        .navbar-nav {
            width: 65% !important;
        }
    }
}

// Tablet and phone
// @media only screen and (max-width: 768px) {
//     .container-fluid {
//         .open {
//             animation: open .25s ease-in forwards;
//         }
//         .closed {
//             animation: closed .25s ease-out forwards;
//         }
//         #responsive-nav {
//             .navbar-nav {
//                 width: 100% !important;
//             }
//         }
//     }
// }
@media only screen and (max-width: 992px) {
    #offcanvas {
        background-color: rgba(255,255,255,0.04);
        backdrop-filter: blur(40.7742px);
        font-family: 'Barlow Condensed', 'normal';
        .offcanvas-header {
            justify-content: end;
            .close {
                margin-top: 33.95px;
                width: 19.09px;
                height: 19.09px;
                cursor: pointer;
                div {
                    width: 24px;
                    height: 3px;
                    background-color: #D0D6F9;
                }
                div:nth-child(1) {
                    transform: rotate(-45deg) translate(-35%, 100%);
                }
                div:nth-child(2) {
                    transform: rotate(45deg) translate(10%, 180%);
                }
            }
        }
        .offcanvas-body {
            margin-top: 64.95px;
            padding-right: 0;
            display: flex;
            flex-direction: column;
            a {
                color: #FFFFFF;
                text-decoration: none;
                font-weight: 400;
                font-size: 16px;
                line-height: 19px;
                letter-spacing: 2.7px;
                margin-bottom: 32px;
                margin-left: 32px;
                height: 31px;
                display: flex;
                align-items: center;
                span {
                    font-weight: 700;
                    margin-right: 11px;
                }
                &:hover, &.active {
                    border-right: 4px solid #FFFFFF;
                }
            }
        }
    }
}


// Phone size
@media only screen and (max-width: 600px) {
    #navigation {
        top: 0;
        padding: 0;
    }
    .container-fluid {
        .navbar-nav {
            width: 100% !important;
        }
    }
}

// Remove numbers from navbar
@media only screen and (max-width: 1210px) {
    .container-fluid {
        #responsive-nav {
            span {
                display: none !important;
            }
        }
    }
}

// Menu
@keyframes open {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes closed {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(-20px);
    }
}