#technology {
    background: url('../assets/technology/background-technology-desktop.jpg') no-repeat center center;
    background-size: 100% 100%;
    min-height: 100vh;
    height: 900px;
    width: 100%;
    font-family: 'Barlow Condensed', 'normal';
    color: #FFFFFF;
}